html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

@font-face {
	font-family: 'Minenfeld';
	font-style: normal;
	src: url("Fonts/Minenfeld-Regular-Site.ttf");
}

body {
	color: #333;
	background-color: #BD9CFF;
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
	font-family: Minenfeld, serif;
}

a {
	text-decoration: none;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;

	margin: 0 0 0 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

header{
	display: flex;
	font-size: 2em;
	justify-content: flex-end;
	align-items: center;
	padding: 15px 5%;
}

.logo{
	cursor: pointer;
	margin-right: auto;
}

.nav_pages{
	list-style: none;
}

.nav_pages li{
	display: inline-block;
	padding: 0px 20px;
}

.nav_pages li a{
	color: white;
	transition: all 0.1s ease 0s;
}

.nav_pages li a:hover{
	color: #f15a24;
}

.btn_nav_log{
	padding: 9px 25px;
	background-color: white;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	transition: all 0.1s ease 0s;
}

.btn_nav_log:hover{
	background-color: #f15a24;
	color: white;
	transition: all 0.1s ease 0s;
}

.btn_nav_sign{
	padding: 9px 25px;
	color: white;
	background-color: #f15a24;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	transition: all 0.1s ease 0s;
}

.btn_nav_sign:hover{
	background-color: white;
	color: black;
	transition: all 0.1s ease 0s;
}


