<script lang="ts">
    import {
        Button,
        Modal,
        ModalBody,
        ModalFooter,
        ModalHeader,
        FormGroup,
        Input,
        Label
    } from 'sveltestrap';
    import {addNewEvent} from "../hooks/auth";
    import {AllTeams, current_page_state, main_page_state, Page_State, team} from "../stores";
    let open = false;
    const toggle = () => (open = !open);
    let isOpen = false;
    let open2 = false;
    const toggle2 = () => (open2 = !open2);

    let current_AllTeams: team[];
    let teamOption: string[];
    AllTeams.subscribe(value => {current_AllTeams = value;})

    function f(control){
        teamOption = []
        teamOption[0] = "";
        for(let i = 0; i < current_AllTeams.length; i++){
            teamOption[i + 1] = current_AllTeams[i].name;
        }

    }

    // Event parameters
    let valueOfEvent;
    let description: string;
    let eventColor: string = "#ffc107";
    let from;
    let until;
    let dateOfEvent;
    let displayName: string;
    let teamEvent: string;
    let locationOfEvent: string;
    let selected = ''

    function updateTime(time: string){
        let hour = time.split(':')[0];
        let hourI:number = +hour;
        hourI -= 2;
        return (hourI < 10 ? "0" + hourI: "" + hourI);
    }

    async function createEvent(){
        let teamId: string = '';
        for(let i = 0; i < current_AllTeams.length; i++){
            if(selected === current_AllTeams[i].name){
                teamId = current_AllTeams[i].id;
            }
        }
        let create = {
            eventType: "MEETING",
            title: valueOfEvent,
            notes: description,
            startDate: (dateOfEvent + "T" + from + ":00+02:00"),
            endDate: (dateOfEvent + "T" + until + ":00+02:00"),
            team: teamId,
            recurrence: eventColor
        }
        let r = await addNewEvent(create);
        console.log(r);
        if(r == 401){
            toggle2();
        }
        toggle();
    }

    let unauthorised = false;

    function setUnauthorised(){
        unauthorised = !unauthorised;
    }

    export let local_page_state: Page_State;

    current_page_state.subscribe(value => {
        local_page_state = value;
    })

    function initLocal_page_state(){
        current_page_state.update((value) => {
            return local_page_state;
        })
    }

    function setSign_up(){
        console.log("Sign up");
        toggle2()
        current_page_state.update((value) => {
            value.setPage(main_page_state.sign_up);
            return value;
        })
    }

    function setLog_in(){
        console.log("Log in");
        toggle2()
        current_page_state.update((value) => {
            value.setPage(main_page_state.log_in);
            return value;
        })
    }

    $: f(current_AllTeams)

    initLocal_page_state()
</script>

<Modal isOpen={open2} {toggle2} style="font-family: Minenfeld, serif;">
    <form method="post">
        <ModalHeader {toggle2}>Authentication Error</ModalHeader>
        <ModalBody>
            <p>As a unauthenticated user some of the features are not accessible. In order to proceed login into a valid account</p>
        </ModalBody>
        <ModalFooter>
            <Button type="button" color="secondary" on:click={setLog_in}>Log in</Button>
            <Button type="button" color="secondary" on:click={setSign_up}>Sign up</Button>
            <Button type="button" color="secondary" on:click={toggle2}>Cancel</Button>
        </ModalFooter>
    </form>
</Modal>

<svg on:click={toggle} id="Слой_1" width="2em" height="2em" color="#FEfaaa" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.6919 14.6919"><path d="M11.5459.6541H4.4541a3.8,3.8,0,0,0-3.8,3.8v7.0918a3.8,3.8,0,0,0,3.8,3.8h7.0918a3.8,3.8,0,0,0,3.8-3.8V4.4541A3.8,3.8,0,0,0,11.5459.6541Zm2.8749,9.9667a3.8,3.8,0,0,1-3.8,3.8H5.3791a3.8,3.8,0,0,1-3.8-3.8V5.3791a3.8,3.8,0,0,1,3.8-3.8h5.2418a3.8,3.8,0,0,1,3.8,3.8Z" transform="translate(-0.6541 -0.6541)"/><rect x="6.6324" y="2.5622" width="1.427" height="9.5676"/><rect x="7.2865" y="3.2162" width="1.427" height="9.5676" transform="translate(-0.6541 15.3459) rotate(-90)"/></svg>
<Modal isOpen={open} {toggle} style="font-family: Minenfeld, serif;">
    <form method="post">
        <ModalHeader {toggle}>Add new event</ModalHeader>
        <ModalBody>
            <FormGroup>
                <Label for="exampleText">Event Name</Label>
                <Input type="text" name="text" bind:value={valueOfEvent} id="exampleText" />
            </FormGroup>
            <FormGroup>
                <Label for="exampleDate">Date</Label>
                <Input type="date" name="date" id="exampleDate" bind:value={dateOfEvent} placeholder="date placeholder"/>
            </FormGroup>
            <FormGroup>
                <Label for="exampleTime">From</Label>
                <Input type="time" name="time" id="exampleTime" bind:value={from} placeholder="time placeholder"/>
            </FormGroup>
            <FormGroup>
                <Label for="exampleTime">Until</Label>
                <Input type="time" name="time" id="exampleTime" bind:value={until} placeholder="time placeholder"/>
            </FormGroup>
            <FormGroup>
                <Label for="exampleColor">Color of event</Label>
                <Input type="color" name="color" id="exampleColor" bind:value={eventColor} placeholder="color placeholder"/>
            </FormGroup>
            <FormGroup>
                <Label for="exampleText">Description</Label>
                <Input type="textarea" name="text" bind:value={description} id="exampleText" />
            </FormGroup>
            <FormGroup>
                <Label for="exampleText">Team</Label>
                <p>
                    <select bind:value={selected} style="font-size: 1em; color: black; margin-top: 0.5em; padding: 0.5em; border-radius: 5px">
                        {#each teamOption as team}
                            <option value={team}>{team}</option>
                        {/each}
                    </select>
                </p>
            </FormGroup>
        </ModalBody>
        <ModalFooter>
            <Button type="button" color="success" on:click={createEvent}>Add</Button>
            <Button type="button" color="secondary" on:click={toggle}>Cancel</Button>
        </ModalFooter>
    </form>
</Modal>

<style>
    svg {
        cursor: pointer;
        fill: white;
        text-decoration: none;
    }
    svg:hover{
        fill: #f15a24;
        transition: all 0.1s ease 0s;
    }
</style>