<script lang="ts">
    import {
        Button, FormGroup, Input, Label,
        Modal,
        ModalBody,
        ModalFooter,
        ModalHeader
    } from 'sveltestrap';

    let teams: string[] = [];
    let teamName: string;
    let open = false;
    const toggle = () => (open = !open);
    let isOpen = false;

    function addNewTeam(){
        teams.push(teamName);
        teamName = "";
        console.log(teams);
        teams = teams
    }
</script>

<svg on:click={toggle} width="3em" height="3em" id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.6919 14.6919"><path d="M11.5459.6541H4.4541a3.8,3.8,0,0,0-3.8,3.8v7.0918a3.8,3.8,0,0,0,3.8,3.8h7.0918a3.8,3.8,0,0,0,3.8-3.8V4.4541A3.8,3.8,0,0,0,11.5459.6541Zm2.8749,9.9667a3.8,3.8,0,0,1-3.8,3.8H5.3791a3.8,3.8,0,0,1-3.8-3.8V5.3791a3.8,3.8,0,0,1,3.8-3.8h5.2418a3.8,3.8,0,0,1,3.8,3.8Z" transform="translate(-0.6541 -0.6541)"/><rect x="6.6324" y="2.5622" width="1.427" height="9.5676"/><rect x="7.2865" y="3.2162" width="1.427" height="9.5676" transform="translate(-0.6541 15.3459) rotate(-90)"/></svg>
<Modal isOpen={open} {toggle} style="font-family: Minenfeld, serif;">
    <form method="post">
        <ModalHeader {toggle}>Add Organisation</ModalHeader>
        <ModalBody>
            <FormGroup>
                <Label for="exampleText">Organisation Name</Label>
                <Input type="text" name="text" id="exampleText" />
            </FormGroup>
            <FormGroup>
                <Label for="exampleText">Description</Label>
                <Input type="textarea" name="text" id="exampleText" />
            </FormGroup>
            <FormGroup>
                <Label for="exampleText">Teams:</Label>
                <p></p>
                {#each teams as team}
                    <a>{team}, &nbsp;</a>
                {/each}
                <p></p>
                <FormGroup>
                    <Label for="exampleText">Add new team</Label>
                    <Input type="text" name="text" bind:value={teamName} id="exampleText" />
                </FormGroup>
                <Button type="button" on:click={addNewTeam} color="success">Add to team</Button>
            </FormGroup>
        </ModalBody>
        <ModalFooter>
            <Button type="button" color="success" on:click={toggle}>Add</Button>
            <Button type="button" color="secondary" on:click={toggle}>Cancel</Button>
        </ModalFooter>
    </form>
</Modal>

<style>
    svg {
        cursor: pointer;
        fill: white;
        text-decoration: none;
    }
    svg:hover{
        fill: #f15a24;
        transition: all 0.1s ease 0s;
    }
</style>