<script lang="ts">
	import NavBar from "./NavBar.svelte";
	import BottomPage from "./BottomPage.svelte";
	import Home from "./Home.svelte";
	import LoginComponent from "./LoginComponent.svelte";
	import Calendar from "./Calendar.svelte";
	import SignUpComponent from "./SignUpComponent.svelte";
	import ResetPasswordComponent from "./ResetPasswordComponent.svelte";
	import SetNewPasswordComponent from "./SetNewPasswordComponent.svelte";
	import Teams from "./Teams.svelte";
	import SettingsComponent from "./SettingsComponent.svelte";
	import Oraganisations from "./Oraganisations.svelte";
	import ChangeEmailComponent from "./ChangeEmailComponent.svelte";
	import {current_page_state, main_page_state, Page_State} from "../stores";
	import PrivacyPolicyComponent from "./PrivacyPolicyComponent.svelte";
	import ImpressumComponent from "./ImpressumComponent.svelte";

	let baseurl: string = "http://localhost:9000";
	let id: string;
	let uname: string = "user";
	let pass: string = "user";

	export let local_page_state: Page_State;

	current_page_state.subscribe(value => {
		local_page_state = value;
	})

	function initLocal_page_state(){
		current_page_state.update((value) => {
			return local_page_state;
		})
	}

	let isOpen = false;

	function handleUpdate(event) {
		isOpen = event.detail.isOpen;
	}

	initLocal_page_state();

	type event = {
		eventId: string;
		eventType: string;
		title: string;
		notes: string;
		startDate: string;
		endDate: string;
		team: string;
		recurrence: string;
	};

	type userId = {
		id: string;
	};

	type GetUserEventsResponse = {
		data: event[];
	};


	function test(){
		console.log((uname + ":" + pass));
	}
</script>





<main >
	<NavBar/>
	{#if (local_page_state.page === main_page_state.rest)}
	<Oraganisations/>
	{/if}
	{#if (local_page_state.page === main_page_state.teams)}
	<Teams/>
	{/if}
	{#if (local_page_state.page === main_page_state.calender)}
	<Calendar/>
	{/if}
	{#if (local_page_state.page === main_page_state.settings)}
	<SettingsComponent/>
	{/if}
	{#if (local_page_state.page === main_page_state.sign_up)}
	<SignUpComponent/>
	{/if}
	{#if (local_page_state.page === main_page_state.log_in)}
	<LoginComponent/>
	{/if}
	{#if (local_page_state.page === main_page_state.rest)}
	<ResetPasswordComponent/>
	{/if}
	{#if (local_page_state.page === main_page_state.change_email)}
	<ChangeEmailComponent/>
	{/if}
	{#if (local_page_state.page === main_page_state.rest)}
	<SetNewPasswordComponent/>
	{/if}
	{#if (local_page_state.page === main_page_state.start)}
	<Home/>
	{/if}
	{#if (local_page_state.page === main_page_state.impressum)}
		<ImpressumComponent/>
	{/if}
	{#if (local_page_state.page === main_page_state.privacyPolicy)}
		<PrivacyPolicyComponent/>
	{/if}
	<p></p>
	<p></p>
	<BottomPage/>
</main>

<style>
	main {
		color: #333;
		background-color: #BD9CFF;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: Minenfeld, serif;
		height: 100%;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>