<script lang="ts">
    import {current_page_state, main_page_state, Page_State} from "../stores";

    export let local_page_state: Page_State;

    current_page_state.subscribe(value => {
        local_page_state = value;
    })

    function setImpressum(){
        console.log("impressum");
        current_page_state.update((value) => {
            value.setPage(main_page_state.impressum);
            return value;
        })
    }

    function setPrivacyPolicy(){
        console.log("privacyPolicy");
        current_page_state.update((value) => {
            value.setPage(main_page_state.privacyPolicy);
            return value;
        })
    }

    function initLocal_page_state(){
        current_page_state.update((value) => {
            return local_page_state;
        })
    }

    initLocal_page_state();
</script>

<div class="bottomNav" style="background-color: #977CCC">
    <ul class="policies">
        <li><a on:click={setImpressum}>Impressum</a></li>
        <li>|</li>
        <li><a on:click={setPrivacyPolicy}>Privacy Policy</a></li>
    </ul>
</div>

<style>
    .bottomNav{
        text-align: center;
        position: fixed;
        bottom: 0;
        display: flex;
        font-size: 2em;
        justify-content: center;
        align-items: center;
        padding: 5px 5%;
        width: 100%;
    }

    .policies{
        list-style: none;

    }

    .policies li{
        color: white;
        display: inline-block;
        padding: 0 10px;
    }

    .policies li a{
        color: white;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.1s ease 0s;
    }

    .policies li a:hover{
        color: #f15a24;
    }
</style>
