<script lang="ts">
    import WeekDay from "./WeekDay.svelte";
    import TimeManager from "./TimeManager.svelte";
    import Toolbar from "./Toolbar.svelte";
    import calenderObj from "../calender";
    import {daysSt, today, monthForTool, yearForTool} from "../stores";

    let days: Date[] = [];
    daysSt.subscribe(value => {
        days = value;
    })

    let heute: Date;
    today.subscribe(value => {
        heute = value;
    })

    function initToday(){
        today.update((value) => {
            return new Date();
        })
    }

    let year;
    yearForTool.subscribe(value => {
        year = value
    })

    let month
    monthForTool.subscribe(value => {
        month = value
    })

    function initYear(){
        yearForTool.update((value) => {
            return heute.getFullYear()
        })
    }

    function initMonth(){
        monthForTool.update((value) => {
            return heute.getMonth()
        })
    }

    function initDays(){
        daysSt.update((value) => {
            for(let i = 0; i < 8; i++){
                value[i] = new Date(heute);
            }
            if(heute.getDay() == 0){
                let k: number = 0;
                for(let i = 7; i >= 1; i--){
                    value[i].setDate(heute.getDate() - k++);
                }
            }
            else {
                let k: number = 0;
                for(let i = heute.getDay(); i <= 7; i++){
                    value[i].setDate(heute.getDate() + k++);
                }

                let l: number = 0;
                for(let i = heute.getDay(); i >= 1; i--){
                    value[i].setDate(heute.getDate() - l++);
                }
            }
            return value
        })
    }

    initToday();
    initDays();
    initYear()
    initMonth()
</script>

<div class="container">
    <Toolbar month={month} year={year}/>
    <hr style="height:5px;border:none;color: white;" />
        <div class="calendarTable">
            <div class="row">
                <div class="col-sm">
                    <TimeManager/>
                </div>
                <div class="col-sm">
                    <WeekDay dayName="Mon." dayNumber={days[1].getDate()} dayColor="#977CCC" date={days[1]}/>
                </div>
                <div class="col-sm">
                    <WeekDay dayName="Tue." dayNumber={days[2].getDate()} dayColor="#977CCC" date={days[2]}/>
                </div>
                <div class="col-sm">
                    <WeekDay dayName="Wed." dayNumber={days[3].getDate()} dayColor="#977CCC" date={days[3]}/>
                </div>
                <div class="col-sm">
                    <WeekDay dayName="Thu." dayNumber={days[4].getDate()} dayColor="#977CCC" date={days[4]}/>
                </div>
                <div class="col-sm">
                    <WeekDay dayName="Fri." dayNumber={days[5].getDate()} dayColor="#977CCC" date={days[5]}/>
                </div>
                <div class="col-sm">
                    <WeekDay dayName="Sat." dayNumber={days[6].getDate()} dayColor="#8466BF" date={days[6]}/>
                </div>
                <div class="col-sm">
                    <WeekDay dayName="Sun." dayNumber={days[7].getDate()} dayColor="#8466BF" date={days[7]}/>
                </div>
            </div>
        </div>
</div>


<style>
    .calendarTable{
        max-height: 650px;
        margin-bottom: 10px;
        overflow:scroll;
        overflow-x: hidden;
    }
    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
</style>