<script lang="ts">
    import {changeEmail} from "../hooks/auth";
    import {current_page_state, main_page_state, Page_State, user, UserData} from "../stores";

    export let local_page_state: Page_State;

    current_page_state.subscribe(value => {
        local_page_state = value;
    })

    function initLocal_page_state(){
        current_page_state.update((value) => {
            return local_page_state;
        })
    }

    export let current_user: UserData;
    user.subscribe(value => {
        current_user = value;
    })

    let error = '';//
    async function changeUserMail(){
        if(current_user.email != null){
            await changeEmail(newMail);
        }
        setSettings();
    }

    function initCurrent_user(){
        user.update((value) => {
            return current_user;
        })
    }

    function setSettings(){
        current_page_state.update((value) => {
            value.setPage(main_page_state.settings);
            return value;
        })
    }

    initLocal_page_state();
    initCurrent_user();
    let newMail = current_user.email;
</script>

<form method="post" class="flex mx-auto col-6">
    <div class="container" style="color: white">
        <h1>Change E-mail</h1>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">E-mail</span>
            <input type="email" class="form-control" bind:value={newMail} placeholder="{current_user.email}">
        </div>
        <button type="button" on:click={changeUserMail} class="btn btn-success">Save</button>
        <div id="error_message" class="text-danger">
            <small>{error}</small>
        </div>
    </div>
</form>