<script lang="ts">
    import {
        Button, FormGroup, Input, Label,
        Modal,
        ModalBody,
        ModalFooter,
        ModalHeader
    } from 'sveltestrap';

    let email;
    let description;

    let open = false;
    const toggle = () => (open = !open);
    let isOpen = false;

</script>
<svg id="Слой_1" on:click={toggle} data-name="Слой 1" width="2em" height="2em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.6919 14.6919"><path d="M11.5459.6541H4.4541a3.8,3.8,0,0,0-3.8,3.8v7.0918a3.8,3.8,0,0,0,3.8,3.8h7.0918a3.8,3.8,0,0,0,3.8-3.8V4.4541A3.8,3.8,0,0,0,11.5459.6541Zm2.8749,9.9667a3.8,3.8,0,0,1-3.8,3.8H5.3791a3.8,3.8,0,0,1-3.8-3.8V5.3791a3.8,3.8,0,0,1,3.8-3.8h5.2418a3.8,3.8,0,0,1,3.8,3.8Z" transform="translate(-0.6541 -0.6541)"/><path d="M11.9416,4.3919H4.0584A1.1812,1.1812,0,0,0,2.8143,5.4893V10.17a1.1812,1.1812,0,0,0,1.2441,1.0974h7.8832A1.1812,1.1812,0,0,0,13.1857,10.17V5.4893A1.1812,1.1812,0,0,0,11.9416,4.3919Zm.6889,5.41A1.1812,1.1812,0,0,1,11.3863,10.9H4.6136A1.1812,1.1812,0,0,1,3.37,9.8021V5.8574A1.1812,1.1812,0,0,1,4.6136,4.76h6.7727a1.1812,1.1812,0,0,1,1.2442,1.0974Z" transform="translate(-0.6541 -0.6541)"/><polygon points="7.352 7.762 12.246 4.794 11.926 4.106 7.346 6.883 2.766 4.106 2.446 4.794 7.34 7.762 7.342 7.768 7.346 7.765 7.349 7.768 7.352 7.762"/></svg>
<Modal isOpen={open} {toggle} style="font-family: Minenfeld, serif;">
    <form method="post">
        <ModalHeader {toggle}>Contact Us</ModalHeader>
        <ModalBody>
            <FormGroup>
                <Label for="exampleText">Your Email</Label>
                <Input type="email" name="text" bind:value={email} id="exampleText" />
            </FormGroup>
            <FormGroup>
                <Label for="exampleText">Description</Label>
                <Input type="textarea" name="text" bind:value={description} id="exampleText" />
            </FormGroup>
        </ModalBody>
        <ModalFooter>
            <Button type="button" color="success" on:click={toggle}>Send</Button>
            <Button type="button" color="secondary" on:click={toggle}>Cancel</Button>
        </ModalFooter>
    </form>
</Modal>

<style>
    svg {
        cursor: pointer;
        fill: white;
        text-decoration: none;
    }
    svg:hover{
        fill: #f15a24;
        transition: all 0.1s ease 0s;
    }
</style>



