<script lang="ts">
    import {
        Button, FormGroup, Input, Label,
        Modal,
        ModalBody,
        ModalFooter,
        ModalHeader
    } from 'sveltestrap';

    let valueOfEvent;
    let description: string;
    let eventColor: string = "#ffc107";
    let from;
    let until;
    let dateOfEvent;
    let displayName: string;
    let open = false;
    const toggle = () => (open = !open);
    let isOpen = false;
    let teamEvent: string;
    let locationOfEvent: string;
</script>

<svg on:click={toggle} id="Слой_1" width="1em" height="1em" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.6919 14.6919"><path d="M11.5459.6541H4.4541a3.8,3.8,0,0,0-3.8,3.8v7.0918a3.8,3.8,0,0,0,3.8,3.8h7.0918a3.8,3.8,0,0,0,3.8-3.8V4.4541A3.8,3.8,0,0,0,11.5459.6541Zm2.8749,9.9667a3.8,3.8,0,0,1-3.8,3.8H5.3791a3.8,3.8,0,0,1-3.8-3.8V5.3791a3.8,3.8,0,0,1,3.8-3.8h5.2418a3.8,3.8,0,0,1,3.8,3.8Z" transform="translate(-0.6541 -0.6541)"/><rect x="6.5285" y="3.9573" width="2.627" height="8.0757" transform="translate(6.3023 -3.8229) rotate(39.91)"/><rect x="9.8682" y="3.4185" width="2.627" height="1.1676" transform="translate(4.5185 -6.8957) rotate(39.91)"/><polygon points="3.071 12.263 3.071 12.263 3.34 9.894 5.355 11.58 3.071 12.263"/></svg>
<Modal isOpen={open} {toggle} style="font-family: Minenfeld, serif;">
    <form method="post">
        <ModalHeader {toggle}>Edit event</ModalHeader>
        <ModalBody>
            <FormGroup>
                <Label for="exampleText">Event Name</Label>
                <Input type="text" name="text" bind:value={valueOfEvent} id="exampleText" />
            </FormGroup>
            <FormGroup>
                <Label for="exampleDate">Date</Label>
                <Input type="date" name="date" id="exampleDate" bind:value={dateOfEvent} placeholder="date placeholder"/>
            </FormGroup>
            <FormGroup>
                <Label for="exampleTime">From</Label>
                <Input type="time" name="time" id="exampleTime" bind:value={from} placeholder="time placeholder"/>
            </FormGroup>
            <FormGroup>
                <Label for="exampleTime">Until</Label>
                <Input type="time" name="time" id="exampleTime" bind:value={until} placeholder="time placeholder"/>
            </FormGroup>
            <FormGroup>
                <Label for="exampleColor">Color of event</Label>
                <Input type="color" name="color" id="exampleColor" bind:value={eventColor} placeholder="color placeholder"/>
            </FormGroup>
            <FormGroup>
                <Label for="exampleText">Description</Label>
                <Input type="textarea" name="text" bind:value={description} id="exampleText" />
            </FormGroup>
            <FormGroup>
                <Label for="exampleText">Location</Label>
                <Input type="textarea" name="text" bind:value={locationOfEvent} id="exampleText" />
            </FormGroup>
            <FormGroup>
                <Label for="exampleText">Team</Label>
                <Input type="text" name="text" bind:value={teamEvent} id="exampleText" />
            </FormGroup>
        </ModalBody>
        <ModalFooter>
            <Button type="submit" color="warning" on:click={toggle}>Edit</Button>
            <Button color="secondary" on:click={toggle}>Cancel</Button>
        </ModalFooter>
    </form>
</Modal>

<style>
    svg {
        cursor: pointer;
        fill: white;
        text-decoration: none;
    }
    svg:hover{
        fill: #f15a24;
        transition: all 0.1s ease 0s;
    }
</style>