<script lang="ts">
    import {
        Button, FormGroup, Input, Label,
        Modal,
        ModalBody,
        ModalFooter,
        ModalHeader
    } from 'sveltestrap';
    import {editTeam} from "../hooks/auth";
    export let description: string;
    export let displayName: string;
    export let teamId: string;
    export let teamMembers: [];
    let members: string[] = [];
    let memberName: string;

    function addNewMember(){
        members.push(memberName);
        memberName = "";
        console.log(members);
        members = members
    }

    function update(control){
        members = teamMembers;
    }

    $: update(teamMembers);

    async function editTeamLocal(){
        await editTeam(teamId, displayName, description, members);
        toggle()
    }

    let open = false;
    const toggle = () => (open = !open);
    let isOpen = false;
</script>

<Button class="btn-warning" on:click={toggle}>Edit</Button>
<Modal isOpen={open} {toggle} style="font-family: Minenfeld, serif;">
    <form method="post">
        <ModalHeader {toggle}>Edit Team</ModalHeader>
        <ModalBody>
            <FormGroup>
                <Label for="exampleText">Team Name</Label>
                <Input type="text" name="text" bind:value={displayName} id="exampleText" />
            </FormGroup>
            <FormGroup>
                <Label for="exampleText">Description</Label>
                <Input type="textarea" name="text" bind:value={description} id="exampleText" />
            </FormGroup>
            <FormGroup>
                <Label for="exampleText">Team members:</Label>
                <p></p>
                    {#each members as member}
                        <a>{member}, &nbsp;</a>
                    {/each}
                <p></p>
                <FormGroup>
                    <Label for="exampleText">Add new member</Label>
                    <Input type="text" name="text" bind:value={memberName} id="exampleText" />
                </FormGroup>
                <Button type="button" on:click={addNewMember} color="success">Add to team</Button>
            </FormGroup>
        </ModalBody>
        <ModalFooter>
            <Button type="button" color="warning" on:click={editTeamLocal}>Edit</Button>
            <Button type="button" color="secondary" on:click={toggle}>Cancel</Button>
        </ModalFooter>
    </form>
</Modal>

<style>
    svg {
        cursor: pointer;
        fill: white;
        text-decoration: none;
    }
    svg:hover{
        fill: #f15a24;
        transition: all 0.1s ease 0s;
    }
</style>