<script lang="ts" context="module">
    const srcHome = 'Images/HomeBack.png'

    import {current_page_state, main_page_state, Page_State} from "../stores";

    export let local_page_state: Page_State;

    current_page_state.subscribe(value => {
        local_page_state = value;
    })

    function setCalender(){
        console.log("Calender");
        current_page_state.update((value) => {
            value.setPage(main_page_state.calender);
            return value;
        })
    }

    function initLocal_page_state(){
        current_page_state.update((value) => {
            return local_page_state;
        })
    }

    initLocal_page_state();
</script>

<div class="onImg">
    <img src="{srcHome}" style="width: 100%; height: 100%">
    <div class="info">
        <h1>Organize yourself</h1>
        <button class="btn" type="button" on:click={setCalender}>Get Started!</button>
    </div>
</div>

<style>
    h1 {
        color: white;
        font-size: 10em;
        font-weight: 100;
        margin: 0 0 15px 0;
        text-shadow: 3px 3px  #977CCC;
    }
    .onImg {
        text-align: center;
        position: relative;
        width: 100%;
    }

    .onImg .btn {
        background-color: #F15A24;
        color: white;
        font-size: 2em;
        border: none;
        cursor: pointer;
        border-radius: 30px;
        text-align: center;
        padding: 12px 24px;
    }

    .onImg .btn:hover{
        background-color: white;
        color: black;
        transition: all 0.2s ease 0s;
    }

    .onImg .info{
        position: absolute;
        top: 43%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
</style>