<div class="container" style="background-color: white; border-radius: 10px; padding: 40px; padding-top: 20px">
    <h1 style="font-size: 60px">Impressum</h1>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">This document has no legal force as it is an offline project</span>
        </div>
        <div>
           <p1>  Represented by:</p1>
            <p> Roman Chernikov</p>
            <p>Mikhail Zhukov</p>
            <p>Roman Shchekotov</p>
            <p>Andrey Bordyug</p>
        </div>
        <div>
            Contacts:
            E-Mail: roman.chernikov@madcap.one, michail.zhukov@gmail.com, roman.shchekotov@gmail.com
        </div>
</div>

<style>
    div {
        font-size: 40px;
    }
    span{
        font-size: 40px;
    }
    p{
        font-size: 40px;
        margin-bottom: 2px;
        margin-left: 20px;
    }
</style>