<script lang="ts">
    import {
        Button, FormGroup, Label,
        Modal,
        ModalBody,
        ModalFooter,
        ModalHeader
    } from 'sveltestrap';

    let email;
    let description;

    let open = false;
    const toggle = () => (open = !open);
    let isOpen = false;

</script>
<svg id="Слой_1" on:click={toggle} data-name="Слой 1" width="2em" height="2em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.6919 14.6919"><path d="M11.5459.6541H4.4541a3.8,3.8,0,0,0-3.8,3.8v7.0918a3.8,3.8,0,0,0,3.8,3.8h7.0918a3.8,3.8,0,0,0,3.8-3.8V4.4541A3.8,3.8,0,0,0,11.5459.6541Zm2.8749,9.9667a3.8,3.8,0,0,1-3.8,3.8H5.3791a3.8,3.8,0,0,1-3.8-3.8V5.3791a3.8,3.8,0,0,1,3.8-3.8h5.2418a3.8,3.8,0,0,1,3.8,3.8Z" transform="translate(-0.6541 -0.6541)"/><rect x="6.3622" y="4.5243" width="1.9784" height="7.9784"/><circle cx="7.3459" cy="2.773" r="0.9649"/></svg>
<Modal isOpen={open} {toggle} style="font-family: Minenfeld, serif;">
    <ModalHeader {toggle}><h1>Tutorial</h1></ModalHeader>
    <ModalBody style="font-size: 2em" >
        <FormGroup>
            <Label for="exampleText">NAVIGATION</Label>
            <p>&nbsp; &nbsp;&nbsp;&quot;&lt;&quot; and &quot;&gt;&quot; changes the week</p>
            <p>&nbsp; &nbsp;&nbsp;-scroll up or down to view earlier/later timeslots</p>
            <p>&nbsp; &nbsp;&nbsp;-press &quot;Teams&quot; to access Teams settings</p>
            <p>&nbsp; &nbsp;&nbsp;-if you are logged in, press the gears Icon to enter &nbsp; &nbsp;&nbsp;settings</p>
            <p>&nbsp; &nbsp;&nbsp;-press &quot;Calender&quot; to return to the calender</p>
            <p>&nbsp; &nbsp;&nbsp;-press &quot;Login/Sign Up&quot; to login/register</p>
            <p>&nbsp; &nbsp;&nbsp;-press stork icon to return to the homepage</p>
        </FormGroup>
        <FormGroup>
            <Label for="exampleText">CREATE AN EVENT</Label>
            <p>&nbsp; &nbsp;&nbsp;1.press &quot;+&quot; symbol on the desired time slot</p>
            <p>&nbsp; &nbsp;&nbsp;2.write all needed information</p>
            <p>&nbsp; &nbsp;&nbsp;3.press &quot;save&quot;</p>
        </FormGroup>
        <FormGroup>
            <Label for="exampleText">EDIT AN EVENT</Label>
            <p>&nbsp; &nbsp;&nbsp;1.click on the event you wish to edit</p>
            <p>&nbsp; &nbsp;&nbsp;2.change the desired information</p>
            <p>&nbsp; &nbsp;&nbsp;3.press save</p>
        </FormGroup>
        <FormGroup>
            <Label for="exampleText">DELETE AN EVENT</Label>
            <p>&nbsp; &nbsp; 1.click on the event you wish to delete</p>
            <p>&nbsp; &nbsp; 2.press the red trashbin button</p>
        </FormGroup>
        <FormGroup>
            <Label for="exampleText">EDIT TEAMS</Label>
            <p>&nbsp; &nbsp;&nbsp;1.click on the &quot;Teams&quot; button on the navigation bar</p>
            <p>&nbsp; &nbsp; 2.click on &quot;Edit&quot; button to create new team or change &nbsp; &nbsp; it</p>
            <p>&nbsp; &nbsp; 3.Edit needed information</p>
            <p>&nbsp; &nbsp; 4.press &quot;Edit&quot; to save changes</p>
        </FormGroup>
    </ModalBody>
    <ModalFooter>
        <Button color="secondary" on:click={toggle}>Cancel</Button>
    </ModalFooter>
</Modal>

<style>
    svg {
        cursor: pointer;
        fill: white;
        text-decoration: none;
    }
    svg:hover{
        fill: #f15a24;
        transition: all 0.1s ease 0s;
    }
</style>

