<script>
    import AddOrgButton from "./AddOrgButton.svelte";
    import Organisation from "./Organisation.svelte";

    //For Tests
    let numberOfOrganisations = 13;
    let organisations = new Array(Organisation)
    for(let i = 0; i < numberOfOrganisations; i++){
        organisations[i] = {orgName: "Organisation " + (i + 1).toString(), orgDescription: "Organisation Description" + (i + 1).toString(),component: Organisation}
    }

</script>

<div class="container text-center" style="color: white">
    <h1>Organisations</h1>
    <hr style="height:5px;border:none;color: white;" />
    <div class="container" style="margin-top: 1em">
        <div class="row row-cols-5 align-items-center">
            {#each organisations as organisation}
                <div class="col">
                    <Organisation orgName={organisation.orgName} orgDescription={organisation.orgDescription}/>
                </div>
            {/each}
            <div class="col">
                <AddOrgButton/>
            </div>
        </div>
    </div>
</div>