<script>
    let error = '';//
</script>
<form method="post" class="flex mx-auto col-6">
    <div class="container" style="color: white">
        <h1>Reset password</h1>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">E-mail</span>
            <input type="email" class="form-control" placeholder="Write your E-mail here to reset your password">
        </div>
        <button type="submit" class="btn btn-success">Send recovery link</button>
        <div id="error_message" class="text-danger">
            <small>{error}</small>
        </div>
    </div>
</form>