<script>
    import Popup from "./Popup.svelte";
    import {
        Button, FormGroup, Label,
        Modal,
        ModalBody,
        ModalFooter,
        ModalHeader
    } from 'sveltestrap';

    let open = false;
    const toggle = () => (open = !open);
    let isOpen = false;
</script>
<!-- //to restore functionality, delete (oninput='p1.setCustomValidity(false ? "" : " ")') and rename oninput1 to oninput-->
    <form method="post" oninput='p1.setCustomValidity(false ? "" : " ")'   oninput1='p2.setCustomValidity(p1.value !== p2.value  ? "Passwords do not match." : "") ' class="flex mx-auto col-6">
        <div class="container" style="color: white">
            <h1>Set new password</h1>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon7">Password</span>
                <input type="password" class="form-control" placeholder="write your new password here" required name="p1">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon8">Confirm password</span>
                <input type="password" class="form-control" placeholder="re-enter your password here" name="p2">
            </div>

            <button type="button" on:click={toggle} class="btn btn-success"> Save </button>
        </div>
    </form>

<Modal isOpen={open} {toggle} style="font-family: Minenfeld, serif;">
    <ModalHeader {toggle}><h1>Tutorial</h1></ModalHeader>
    <ModalBody style="font-size: 2em">
        <Popup/>
    </ModalBody>
    <ModalFooter>
        <Button color="secondary" on:click={toggle}>Cancel</Button>
    </ModalFooter>
</Modal>