<script lang="ts">
    import ContactUsComponent from "./ContactUsComponent.svelte";
    import {UserData, user, current_page_state, Page_State, main_page_state} from "../stores";
    import Popup from "./Popup.svelte";
    import { modal } from '../stores.ts';
    import {
        Button, FormGroup, Label,
        Modal,
        ModalBody,
        ModalFooter,
        ModalHeader
    } from 'sveltestrap';

    export let current_user: UserData;
    user.subscribe(value => {
        current_user = value;
    })

    export let local_page_state: Page_State;

    current_page_state.subscribe(value => {
        local_page_state = value;
    })

    function initLocal_page_state(){
        current_page_state.update((value) => {
            return local_page_state;
        })
    }

    //import User info variables here

    let Name = "Samplename";
    let Surname = "Samplesurname";
    let Email = "Sample@email.com";
    let UserName = "SampleUsername";

    function initCurrent_user(){
        user.update((value) => {
            return current_user;
        })
    }

    function setChange_email(){
        console.log("Change_email");
        current_page_state.update((value) => {
            value.setPage(main_page_state.change_email);
            return value;
        })
    }

    initCurrent_user();
    initLocal_page_state();

    const showPopup = () => {
        modal.set(Popup);
    };

    let open = false;
    const toggle = () => (open = !open);
    let isOpen = false;
</script>

<form method="post" class="flex mx-auto col-6">
    <div class="container" style="color: white">
        <h1>Settings </h1>
        <p>User information:</p>
        <div>
            <p class="desc">Username</p>
            <p class="userData">{#if current_user.username != null} {current_user.username} {:else} {UserName} {/if}</p>
            <p class="desc">E-Mail</p>
            <div class="d-flex  justify-content-between userDataSpan">
                <p class="userData">{#if current_user.email != null} {current_user.email} {:else} {Email} {/if}</p>
                <Button type="button" on:click={setChange_email} class="btn-success " style="padding-top: 2px">Change e-mail</Button>
            </div>
            <p class="desc">Password</p>
            <div class="d-flex justify-content-between">
                <Button type="button" on:click={toggle}>Change password</Button>
                <button type="submit" class="customBtn LogOutBtn">LogOut</button>
            </div>
        </div>
    </div>
</form>

<Modal isOpen={open} {toggle} style="font-family: Minenfeld, serif;">
    <ModalHeader {toggle}><h1 style="font-size: 2rem; color: red; text-align: center">Error</h1></ModalHeader>
    <ModalBody style="font-size: 2em">
        <Popup/>
    </ModalBody>
</Modal>

<style>
    p {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    .userData {
        font-size: 1.3em;
        background-color: #ffffff;
        padding-left: 20px;
        padding-right: 20px;
        color: black;
        border-radius: 3px;
        margin-bottom: 0.5em;
    }

    .desc {
        font-size: 1.2em;
        margin-bottom: 0;
    }

    .userDataSpan {
        font-size: 1em;
        background-color: #ffffff;
        color: black;
        border-radius: 3px;
        max-height: 31.2px;
        margin-bottom: 0.5em;
    }

    .customBtn {
        background-color: #F15A24;
        color: white;
        font-size: 1em;
        border: none;
        cursor: pointer;
        border-radius: 30px;
        text-align: center;
        margin-left: 20px;
        box-sizing: border-box;
        padding-left: 30px;
        padding-right: 30px;
    }

    .LogOutBtn {
        background-color: #ff4444;
    }
</style>