<script lang="ts">
    import Team from "./Team.svelte";
    import AddTeamButton from "./AddTeamButton.svelte";
    import {AllTeams, team} from "../stores";

    let current_AllTeams: team[];
    AllTeams.subscribe(value => {current_AllTeams = value;})

    let teams = new Array(Team)
    function f(control) {
        teams[0] = {
            teamName: "team1",
            teamDescription: "test",
            teamId: null,
            teamMembers: [],
            component: Team
        }
        let numberOfTeams = current_AllTeams.length;
        console.log(current_AllTeams);
            for (let i = 0; i < numberOfTeams; i++) {
                teams[i] = {
                    teamName: current_AllTeams[i].name,
                    teamDescription: current_AllTeams[i].description,
                    teamId: current_AllTeams[i].id,
                    teamMembers: current_AllTeams[i].members,
                    component: Team
                }
            }
    }

    $: f(current_AllTeams)


</script>

<div class="container text-center" style="color: white">
    <h1>Teams</h1>
    <hr style="height:5px;border:none;color: white;" />
    <div class="container" style="margin-top: 1em">
        <div class="row row-cols-5 align-items-center">
            {#each teams as team}
                <div class="col">
                    <Team teamName={team.teamName} teamDescription={team.teamDescription} teamId={team.teamId} teamMembers={team.teamMembers}/>
                </div>
            {/each}
        </div>
    </div>
</div>