<script lang="ts">
    import {
        Card,
        CardBody,
        CardHeader,
        CardText,
        CardTitle
    } from 'sveltestrap';

    let times: string[] = [];

    for(let i = 0; i < 24; i++){
        times.push(i + ":00");
    }

</script>

<Card style="border: none; color: white">
    <CardHeader style="text-align: center; background-color: #BD9CFF;  border-bottom: none">
        <CardTitle style="font-size: 2em">Time</CardTitle>
    </CardHeader>
    <CardBody style="background-color: #BD9CFF">
        <CardText>
            {#each times as time, i}
                <p style="text-align: center; font-size: 2em">{time}</p>
            {/each}
        </CardText>
    </CardBody>
</Card>