<script lang="ts">
    import {
        Button,
        Modal,
        ModalBody,
        ModalFooter,
        ModalHeader,
    } from 'sveltestrap';
    import {current_page_state, main_page_state, Page_State} from "../stores";
    let open2 = false;
    const toggle2 = () => (open2 = !open2);

    export let local_page_state: Page_State;

    current_page_state.subscribe(value => {
        local_page_state = value;
    })

    function initLocal_page_state(){
        current_page_state.update((value) => {
            return local_page_state;
        })
    }

    function setSign_up(){
        console.log("Sign up");
        toggle2()
        current_page_state.update((value) => {
            value.setPage(main_page_state.sign_up);
            return value;
        })
    }

    function setLog_in(){
        console.log("Log in");
        toggle2()
        current_page_state.update((value) => {
            value.setPage(main_page_state.log_in);
            return value;
        })
    }

    initLocal_page_state()
</script>


<Modal isOpen={open2} {toggle2} style="font-family: Minenfeld, serif;">
    <form method="post">
        <ModalHeader {toggle2}>Authentication Error</ModalHeader>
        <ModalBody>
            <p>As a unauthenticated user some of the features are not accessible. In order to proceed login into a valid account</p>
        </ModalBody>
        <ModalFooter>
            <Button type="button" color="success" on:click={setLog_in}>Log in</Button>
            <Button type="button" color="success" on:click={setSign_up}>Sign up</Button>
            <Button type="button" color="secondary" on:click={toggle2}>Cancel</Button>
        </ModalFooter>
    </form>
</Modal>


<style>

</style>
