<script lang="ts">
    import {
        Card,
        CardBody,
        CardHeader,
        CardText,
        CardTitle
    } from 'sveltestrap';
    import Event from "./Event.svelte";
    import {EventObj, UserEvents} from "../stores";
    import {writable} from "svelte/store";

    export let dayName: string;
    export let dayNumber: number;
    export let dayColor = "#977CCC";
    export let todayColor = "#389EBD";
    export let date: Date;

    let itemsw = writable();

    let today = new Date();
    let items: Event = [];
    for(let i = 0; i < 24; i++){
        items.push({valueOfEvent: "+", timeOfEvent: "" + i, dateOfEvent: date, Description: "", endOfEventTime: "", startOfEventTime: "", Id: ""});
    }
    itemsw.set(items);

        let itemsTaken: boolean[] = [];
    for(let i = 0; i < 24; i++){
        itemsTaken.push(true);
    }

    let current_user_events: EventObj[];
    UserEvents.subscribe(value => {
        current_user_events = value;
    })

    function initCurrent_user_events(){
        UserEvents.update(value => {
            return current_user_events
        })
    }

    function getItem(item){
        if(current_user_events.length === 0) {
            return item;
        }
        else{
            for(let i = 0; i < current_user_events.length; i++){
                if((Number(current_user_events[i].startDate.split('T')[1].split(':')[0]) === Number(item.timeOfEvent)) && (current_user_events[i].startDate.split('T')[0] === item.dateOfEvent.toISOString().split('T')[0])){
                    return {valueOfEvent: current_user_events[i].title, timeOfEvent: "" + i, dateOfEvent: item.dateOfEvent, Description: current_user_events[i].notes, startOfEventTime: current_user_events[i].startDate.split('T')[1].split(':00+')[0], endOfEventTime: current_user_events[i].endDate.split('T')[1].split(':00+')[0], Id: current_user_events[i].eventId, Color: current_user_events[i].recurrence, TeamId: current_user_events[i].team}
                }
            }
            return item;
        }
    }

    function upadteItems(itemsv, parts: EventObj[], date){
        for(let i = 0; i < 24; i++){
            itemsv[i] = {valueOfEvent: "+", timeOfEvent: "" + i, dateOfEvent: date, Description: "", endOfEventTime: "", startOfEventTime: "", Id: "", Color: "#ffc107", TeamId: ''}
            itemsv[i] = getItem(itemsv[i])
        }
        itemsw.set(itemsv);
        return itemsv;
    }

    function getH(itemsv, h){
        return itemsv[h]
    }

    $: items = upadteItems(items, current_user_events, date);

    initCurrent_user_events();
</script>

<Card style="border: none; color: white; background-color: {(date.getDate() === today.getDate() && date.getMonth() === today.getMonth() && date.getFullYear() === today.getFullYear()) ? todayColor : dayColor};">
    <CardHeader style="text-align: center;  border-bottom: none">
        <CardTitle style="font-size: 2em;">{dayName} {dayNumber}</CardTitle>
    </CardHeader>
    <CardBody style=" min-height: 1568px">
        <CardText>
            {#each items as item}
                <Event valueOfEvent={item.valueOfEvent}
                       timeOfEvent={item.timeOfEvent}
                       dateOfEvent={item.dateOfEvent}
                       Description={item.Description}
                       endOfEventTime={item.endOfEventTime}
                       startOfEventTime={item.startOfEventTime}
                       Color={item.Color}
                       TeamId={item.TeamId}
                       Id={item.Id}
                />
            {/each}
        </CardText>
    </CardBody>
</Card>